<%- include('../partials/head') %>
<h1>Details</h1>
<div class="container">
  <div class="card mt-3" style="width: 40vw;">
    <img src="<%= listing.imgUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">$<%= listing.price %></h5>
      <p class="card-text"><%= listing.streetAddress %>, <%= listing.city  %></p>
      <p class="card-text"><%= listing.size %> Square feet</p>
      <p class="card-text">Listed by: <%= listing.owner.username %></p>

      <a href="/listings" class="btn btn-primary">Go Back</a>
      <% if(listing.owner._id.equals(user._id)){ %>
       <br><br> <a href="/listings/<%= user._id%>/<%= listing._id%>/edit">Edit this Listing</a>

      <form action="/listings/<%= user._id%>/<%= listing._id%>?_method=DELETE" method="POST">
        <br><button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <br>
      <% } %>
    </div>
  </div>
</div>

<br><br>
<%- include('../partials/footer') %>